#include ".Xresources.d/theme"
URxvt.perl-ext:             default,keyboard-select,url-select
URxvt.keysym.C-i:           perl:url-select:select_next
URxvt.keysym.M-bracketleft: perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.url-select.launcher:  /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.scrollsytle:          xterm
URxvt.scrollBar:            false
URxvt.urgentOnBell:         true
URxvt.tripleclickwords:     true
URxvt.cursorUnderline:      true
URxvt.cursorBlink:          true
!URxvt.font: 		    xft:DejaVu Sans Mono for Powerline-12:minspace=True
URxvt.font: 		    xft:Unifont:style=Medium:minspace=True
urxvt*transparent: true
urxvt*shading: 10

! Bind C-0, C-+ and C-= to activate small, medium, and big font size resp.
URxvt.keysym.C-0:           command:\033]710;xft:Unifont-14:style=Medium:minspace=True\007
URxvt.keysym.C-minus:       command:\033]710;xft:Unifont-16:style=Medium:minspace=True\007
URxvt.keysym.C-equal:       command:\033]710;xft:Unifont-20:style=Medium:minspace=True\007
URxvt.keysym.C-9:           command:\033]710;xft:Unifont:style=Medium:minspace=True\007

